<div class="contact-us-component">
  <div class="header">
    <div class="top-header">Contact-us</div>
    <div class="text">
      Greater Jaipur Area, Rajasthan, India
    </div>
  </div>
  <div class="content">
    <div class="msg-card">
      <div class="card">
        <div class="send-msg">Send Message</div>
        <form action="" [formGroup]="contactUsForm">
          <div class="input-container">
            <input type="text" placeholder="Full Name" formControlName="name" />
          <div class="err" *ngIf="contactUsForm.controls.name.errors?.required && submitClicked">
            Please Enter your Name
          </div>
          </div>
          <div class="input-container">
            <input type="email" placeholder="Email"  formControlName="email"/>
          <div class="err" *ngIf="contactUsForm.controls.email.errors?.required && submitClicked">
            Please Enter your email
          </div>
          </div>
          <div class="input-container">
            <input type="text" placeholder="Type message here" formControlName="msg"/>
          <div class="err" *ngIf="contactUsForm.controls.msg.errors?.required && submitClicked">
            Please Enter message
          </div>
          </div>
        </form>

        <div class="button" (click)="submit()">Submit</div>
      </div>
    </div>
    <div class="contact-modes">
      <div class="modes">
        <div class="mode" *ngFor="let mode of modes">
          <div class="left">
            <i class="{{ mode.class }}"></i>
          </div>
          <div class="right">
            <div class="top">{{ mode.topText }}</div>
            <div class="bottom">{{ mode.bottomText }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
