@import "src/assets/styles/helpers/mixins";

.demo-popup-component{
 width: 100%;
 height: 100vh;
 @include flex-container(center, center, row);
 position: fixed;
 top: 0;
 left: 0;
 background-color: rgba($color: #000000, $alpha: 0.7);

 .pop-up{
     width: 250px;
     padding: 2rem;
     border: 1px solid grey;
     border-radius: 10px;
     background-color: whitesmoke;
     @include flex-container(center, center, column);

    .course-name{
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 2rem;
    }

    label{
        font-size: 0.9rem;
        margin-bottom: 1.5rem;
    }
     input{
     background-color: transparent;
     border: none;
     border-bottom: 1px solid #952e16;
     outline: none;
     padding: 5px 0;
     }

     .submit{
        font-size: 1.2rem;
        font-weight: bold;
        color: whitesmoke;
        @include theme-color();
        border-radius: 10px;
        text-align: center;
        padding: 1rem;
        margin-top: 2rem;
     }

     .submit:hover{
         transform: scale(1.1);
     }

 }
}