<div class="card-component">
    <div class="header">
        <h1>ENGLISH</h1>
        <h2>Description of course</h2>
        <h3>Instructor</h3>
        <h4>Rating</h4>
        <div class="book-demo" >
            Book Demo
         </div>
    </div>
    <img class="imgage"
    src="https://images.unsplash.com/photo-1517849325426-6eac321919a0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZW5nbGlzaHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=300&q=60">
</div>
<div class="topics">
    <h1>Learning</h1>
    <ol>
        <li>Noun</li>
        <li>Pronoun</li>
        <li>Verb</li>
    </ol>

</div>
<div class="sessions">
    <h1>Session:1</h1>
    <h2>Introduction To The Course</h2>
    <h1>Session:2</h1>
    <h2>Introduction To Noun</h2>
    <h1>Session:3</h1>
    <h2>Noun</h2>
    <!-- <h1>Session:4</h1>
    <h2>Introduction To The Pronoun</h2>
    <h1>Session:5</h1>
    <h2>Pronoun</h2>
    <h1>Session:6</h1>
    <h2>Introduction To The Verb</h2>
    <h1>Session:7</h1>
    <h2>VErb</h2> -->
</div>

<router-outlet></router-outlet>