@import './variables';

@mixin flex-container($align: center, $justify: center, $direction: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin box-shadow($color: #bbbbbb) {
  box-shadow: 0px 3px 5px $color;
}

@mixin top-box-shadow($color: #bbbbbb) {
  box-shadow: -10px 0px 5px $color;
}

// @mixin font($size, $family: regular) {
//   font-size: $size / $primary-font-size-value + rem;
//   // font-size: clamp( $size - 6 + px, 0.9vw, $size + px);

//   @if $family == medium {
//     font-family: jioMedium;
//   } @else if ($family == light) {
//     font-family: jioLight;
//   } @else if ($family == bold) {
//     font-family: jioBold;
//   } @else if ($family == black) {
//     font-family: jioBlack;
//   } 
// } 

@mixin width($width) {
  width: $width / $primary-font-size-value + rem;
}

@mixin height($height) {
  height: $height / $primary-font-size-value + rem;
}

@mixin min-width($width) {
  min-width: $width / $primary-font-size-value + rem;
}

@mixin min-height($height) {
  min-height: $height / $primary-font-size-value + rem;
}

@mixin max-width($width) {
  max-width: $width / $primary-font-size-value + rem;
}

@mixin max-height($height) {
  max-height: $height / $primary-font-size-value + rem;
}

@mixin theme-color() {
  background-color: $background-color1;
}
