<div class="course-on-demand-component">
    <div class="left">
        Available courses does not interest you? :(
        Tell us the course you want to do or skill u want to learn
        we will arrange teachers for you.
    </div>
    <div class="right">
        <div class="card">
            <label for="">Enter On demand course details</label>
            <!-- <input type="text" placeholder="Enter course details"> -->
            <textarea name="" id="" cols="30" rows="10" placeholder="Enter here"></textarea>
            <div class="button">Submit</div>
        </div>
    </div>
</div>
